{% extends "root.html" %}
{% block title %}Eventos{% endblock title %}
{% load static %}

{% block static %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/eventos.css' %}">
{% endblock %}

{% block actual_patch %}
    <h2>Eventos</h2>
{% endblock actual_patch %}

{% block breadcrumb-items %} 
    <li class="breadcrumb-item">
        <a href="">Eventos</a>
    </li>
{% endblock breadcrumb-items %}

{% block content %}
<div class="container">
    <div class="wrapperProgram">
        {% for evento in eventos %}
            <div id="button{{ evento.codigo }}" type="button" onclick="showInfo('{{ evento.codigo }}')" class="event">
                <img src="{{ evento.url_image }}" alt="{{ evento.nombre }}">
                <div class="subcontainer1">
                    <div class="subcontainer2">
                        <div class="left">
                            <h3>{{ evento.nombre }}</h3>
                        </div>
                        <div class="right">
                            <h2>✅</h2>
                        </div>
                    </div>
                   
                </div>
            </div>
            <div id="info{{ evento.id }}" class="info" style="display: none;">
                <img src="{{ evento.url_image }}" alt="{{ evento.nombre }}">
                <h3>{{ evento.nombre }}</h3>
                <div class="text">{{ evento.descripcion }}</div>    
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}