body {
  overflow: hidden;
}

.container {
  display: flex; 
  flex-direction: row;
  width: calc(100vw - 10rem);
  margin-right: 1rem;
  justify-content: space-between;
  padding: 2rem 0rem 0rem 2rem;
}

.subcontainer1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding-right: 1em;
  margin: 1em 0;
}

.subcontainer1 button {
  width: 6rem;
  height: 2rem;
}

.subcontainer2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.subcontainer1-item {
  display: flex;
  justify-content: right;
}

.subcontainer2 h3 {
  text-align: left;
}

.wrapperEvent{
  display: flex; 
  flex-direction: column; 
  align-items: center;
  padding-right: 14px;
  width: 100%; 
  max-height: 100%; 
  overflow-y: auto;
  margin-right: 7px;
}

.wrapperEvent::-webkit-scrollbar{
  width: 0;
}

.event{
  display: flex;
  min-height: 140px;
  min-width: 100%;
  text-align: left;
  background-color: #DDD;
  margin-bottom: 10px;
  position: relative;
  border-radius: 5px 5px 5px 5px;
}

.left h3 {
  margin: 0;
  font-size: 1.3em;
}

.left p {
  margin: .5em 0 0 0;
  font-size: 1em;
}

.right{
  display: flex;
  justify-content: space-between;
  
}

.event:hover {
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s ease-out;
}

.event-link{
  width: 100%;
}