/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5; /* Cambié el color de fondo */
}

.generalContent {
  max-width: 800px; /* Limité el ancho máximo para mejorar la legibilidad */
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
  background-color: #fff; /* Fondo blanco */
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

/* Estilos específicos para cada subcontenedor */
.descriptrionContent h2,
.organizersContent h2,
.speakersContent h2,
.assistantsContent h2,
.commentsContent h2,
.titleContent h2 {
  margin-top: 0;
  margin-bottom: 10px;
  padding: 0;
}

.generalContent p {
  margin-bottom: 10px;
}

/* Estilos para el contenedor del título */
.titleContent {
  margin-bottom: 20px;
}

.titleContent h2 {
  color: #333; /* Color de texto oscuro */
}

.titleContent button {
  background-color: #007bff; /* Azul brillante */
  color: #fff; /* Texto blanco */
  border: none;
  border-radius: 5px;
  padding: 8px 12px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.titleContent button:hover {
  background-color: #0056b3; /* Azul más oscuro al pasar el ratón */
}

.titleContent p {
  color: #666; /* Color de texto gris */
  font-size: 14px;
}

/* Estilos para los demás contenedores */
.descriptrionContent,
.organizersContent,
.speakersContent,
.assistantsContent,
.commentsContent {
  margin-bottom: 20px;
  padding: 20px;
  background-color: #f9f9f9; /* Color de fondo más claro */
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Sombra más suave */
}

.descriptrionContent h2,
.organizersContent h2,
.speakersContent h2,
.assistantsContent h2,
.commentsContent h2 {
  color: #333;
}

.descriptrionContent p,
.organizersContent p,
.speakersContent p,
.assistantsContent p,
.commentsContent p {
  color: #666;
}

.descriptrionContent button,
.organizersContent button,
.speakersContent button,
.assistantsContent button,
.commentsContent button {
  background-color: #28a745; /* Verde */
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 8px 12px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.descriptrionContent button:hover,
.organizersContent button:hover,
.speakersContent button:hover,
.assistantsContent button:hover,
.commentsContent button:hover {
  background-color: #218838; /* Verde más oscuro al pasar el ratón */
}
